body {
    background-color: antiquewhite;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: large;
    padding: 10px;
    margin:0%;
}

.heading{
    font-size: xx-large;
}

.form {
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 30px;
}

.results {
    padding: 20px;
    width: auto;
    height: auto;
}

#tip {
    position: absolute;
    bottom: 0px;
    right: 0px;
}